/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
project.clj~
README.md~ 
project.clj~
src/clj_biosequence/persistence.clj~
.gitignore~
src/clj_biosequence/alphabet.clj~
resources/test-files/nuc-sequence.fasta.bin
resources/test-files/nuc-sequence.fasta.idx
resources/test-files/toxins.fasta.bin
resources/test-files/toxins.fasta.idx
.nrepl-port
resources/test-files/go-basic.obo
resources/test-files/gbgene.xml
